//
// Common Styles
//

// $visual-grid: true;
// $visual-grid-color: tomato;
// $column: 5em;
// $gutter: 5em;
$grid-columns: 12;
$max-width: em(1088);

@import "bourbon/bourbon";
@import "neat/neat";
@import "neat/neat-helpers";


$hdtv: new-breakpoint(min-width 1200px 12);
$desktop: new-breakpoint(min-width 786px 12);
$tablet: new-breakpoint(min-width 480px 8);
// $mobile: new-breakpoint(max-width 480px 4);

/* Fonts */
@include font-face(BebasNeueRegular, '/fonts/BebasNeue-webfont');

/* Base */
body {
  font-family: "FreeSans", "Arial", sans-serif;
  // font-size: 0.9em;
  // line-height: 1.5;
  // font-weight: lighter;
  background: #fff;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "BebasNeueRegular";
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid;
}
code {
  font-size: 0.8em;
}

/* Wrapper */
#wrap {
  @include outer-container;
}

/* Header */
header.main {
  border: 1px solid #000;
  background: #000;
  color: #fff;
  h1 {
    font-variant: small-caps;
    // padding: 0 0 0 2%;
    padding: flex-grid(0.5);
  }
  a {
    border: none;
  }
}

/* Content */
.main.content {
  @include row();
  margin-left: flex-gutter();
  margin-right: flex-gutter();
  // @include span-columns(10);
}

/* Post */
article.post {
  @include span-columns(12 of 12);
  @include media($tablet) {
    @include span-columns(11 of 12);
  }
  @include media($desktop) {
    @include span-columns(10 of 12);
  }
  @include media($hdtv) {
    @include span-columns(8 of 12);
  }
  margin-top: flex-gutter();
  padding: flex-gutter();
  background: #f9f9f9;
  color: #333;
  header {
    text-transform: capitalize;
  }
  &.preview {
    @include span-columns(12 of 12);
    @include media($tablet) {
      @include span-columns(6 of 12);
    }
    @include media($desktop) {
      @include span-columns(6 of 12);
    }
    @include media($hdtv) {
      @include span-columns(4 of 12);
    }
    font-size: .8em;
  }
}

/* Footer */
footer.main {
  @include clearfix;
  @include span-columns(12);
  p.copyright {
    float: right;
    margin: flex-gutter();
    font-style: italic;
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
  }
}
